
*.class
NameGuesser/target/classes/Indian_Names.csv
NameGuesser/target/maven-archiver/pom.properties
NameGuesser/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
NameGuesser/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
NameGuesser/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
NameGuesser/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
NameGuesser/target/nameGuesser-0.0.1-SNAPSHOT.jar
NameGuesser/target/original-nameGuesser-0.0.1-SNAPSHOT.jar
NameGuesser/target/test-classes/Indian_Names_Test.csv
NameGuesser/names_sorted.txt
NameGuesser/names.txt
NameGuesser/bin/src/test/resources/Indian_Names_Test.csv
NameGuesser/bin/src/main/resources/Indian_Names.csv
NameGuesser/bin/README.md
NameGuesser/bin/pom.xml
NameGuesser/bin/.project
NameGuesser/.settings/org.eclipse.jdt.core.prefs
NameGuesser/.project
NameGuesser/.classpath
NameGuesser/hs_err_pid30252.log
NameGuesser/hs_err_pid29784.log
NameGuesser/target/classes/META-INF/MANIFEST.MF
NameGuesser/target/classes/META-INF/maven/com.sch.experiments/nameGuesser/pom.properties
NameGuesser/target/classes/META-INF/maven/com.sch.experiments/nameGuesser/pom.xml
NameGuesser/target/classes/names_sorted.txt
